.header_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: {
		top: 20px;
	};
	overflow-x: hidden;

	.title {
		width: 100vw;
		padding: 20px;
		background: {
			color: rgba(255, 255, 255, .6);
		};
		font-size: 35px;
		text-align: center;
	}

	.button_wrapper {
		width: calc(100% - 42px);
		max-width: 400px;
		margin: {
			top: 20px;
		};
	}
}